body {

    background: #f5f5f5;

    font-family: Arial;
}

.container {

    width: 500px;

    margin: 50px auto;

    background: white;

    padding: 25px;

    border-radius: 10px;

    box-shadow:
        0 0 10px
        rgba(
          0,
          0,
          0,
          .10
        );
}

label {

    display: block;

    margin-top: 15px;
}

input {

    width: 100%;

    padding: 10px;

    margin-top: 5px;
}

button {

    width: 100%;

    padding: 12px;

    margin-top: 25px;

    background: #4285f4;

    border: none;

    color: white;

    font-size: 16px;

    cursor: pointer;
}

button:hover {

    background: #3367d6;
}

#msg {

    margin-top: 20px;

    font-weight: bold;
}